<html>
    <head>

    </head>
    <body>
        <h1> Login to Chat </h1>

        <div id="logindiv">
            <form id="li-form" action="/login" method="POST">
                <label>Enter Username :</label>
                <input name="logusername" id="logusername" type="text" required> <br/><br/>
                <label>Enter Password :</label>
                <input name="logpassword" id="logpassword" type="password" required> <br/><br/>
                <input type="submit" value="Log In">
            </form>
        </div>
    </body>
</html>